<!-- footer.component.html -->
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h2>Contact</h2>
            <p>Email: olfasalem2021@gmail.com</p>
            <p>Téléphone: 55246536</p>
        </div>
        <div class="footer-section">
            <h2>Liens rapides</h2>
            <ul>
                <li><a routerLink="home">Accueil</a></li>
                <li><a routerLink="home">Nutrition</a></li>
                <li><a routerLink="contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <div class="row align-items-center">
            <h2>Suivez-nous</h2>
            <div class="col-md-6 newsletter mb-md-0 mb-4">
                <form action="#">
                    <div class="d-flex align-items-center">
                    <input placeholder="E-MAIL" type="email" name="newsletter" class="form-control col-md-6">
                        <button class="btn btn-primary ms-md-3">SUBSCRIBE</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
    


    <div class="container-fluid footer_bottom bg--primary">
        <div class="row">
            <div class="col-12 text-center text-white py-3">
                &copy; 2024 Suivi Ramadan ALL RIGHTS RESERVED.
            </div>
        </div>
    </div>
</footer>