<div _ngcontent-ng-c1943348080="" class="card-nga">
    <h1 _ngcontent-ng-c1943348080="" class="h5 card-header primary-color white-text text-center py-4"><i
            _ngcontent-ng-c1943348080="" class="fas fa-unlock-alt me-4"></i><strong
            _ngcontent-ng-c1943348080="">Réinitialiser votre mot de passe</strong></h1>
    <div _ngcontent-ng-c1943348080="" class="card-body px-lg-5 pt-4">
        <p _ngcontent-ng-c1943348080="" class="text-center"> Entrez votre adresse email pour recevoir un lien vers la
            réinitialisation de Mot de passe </p>
        <form _ngcontent-ng-c1943348080="" novalidate="" method="post" style="color: #757575;"
            class="ng-untouched ng-pristine ng-invalid">
            <div _ngcontent-ng-c1943348080="" class="form-row">
                <div _ngcontent-ng-c1943348080="" class="col">
                    <div _ngcontent-ng-c1943348080="" class="md-form pt-2">
                        <div _ngcontent-ng-c1943348080="" class="form-floating pb-4"><input _ngcontent-ng-c1943348080=""
                                type="email" formcontrolname="email" id="email" placeholder=""
                                class="form-control form-control-sm ng-untouched ng-pristine ng-invalid"><label
                                _ngcontent-ng-c1943348080="" for="floatingInput">Addresse Email</label></div><!---->
                    </div><!----><button _ngcontent-ng-c1943348080="" type="submit"
                        class="w-100 btn btn-nga btn-nga-primary mb-4"> Envoyer<i _ngcontent-ng-c1943348080=""
                            class="far fa-envelope-open fa-lg ms-4"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>